/camera-settings-recommender/backend/.gradle
/camera-settings-recommender/backend/.env
/camera-settings-recommender/image-matching/venv/
/camera-settings-recommender/.env
/camera-settings-recommender/frontend/hoohacks2025/node_modules/
node_modules/